ion-item {
    --inner-padding-end: 16px; /* Aumenta el padding interno del ion-item */
  }
  
  ion-label {
    margin-right: 8px; /* Espacio entre la etiqueta y el input */
  }
  
  ion-input {
    margin-left: 8px; /* Aumenta el espacio entre el input y la etiqueta */
  }