<ion-header>
  <ion-toolbar>
    <ion-title>Enviar Merma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>ID Producto</ion-label>
      <ion-select [(ngModel)]="idProducto" (ionChange)="onProductoChange()" style="text-align: center;">
        <ion-select-option *ngFor="let producto of productos" [value]="producto.id">
          {{ producto.id }} - {{ producto.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label style="text-align: center;">Nombre</ion-label>
      <ion-input [(ngModel)]="nombreProducto" readonly style="text-align: center;"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label style="text-align: center;">Cantidad</ion-label>
      <ion-input [(ngModel)]="cantidad" type="number" style="text-align: center;"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label style="text-align: center;">Justificación</ion-label>
      <ion-input [(ngModel)]="justificacion" style="text-align: center;"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="enviarMerma()" style="margin-top: 20px;">
    ENVIAR MERMA
  </ion-button>
</ion-content>
