<ion-header>
  <ion-toolbar>
    <ion-title>Editar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="producto; else noProducto">
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input [(ngModel)]="producto.nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Categoría</ion-label>
    <ion-select [(ngModel)]="producto.categoria">
      <ion-select-option *ngFor="let categoria of categorias" [value]="categoria">
        {{ categoria }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Precio</ion-label>
    <ion-input type="number" [(ngModel)]="producto.precio"></ion-input>
  </ion-item>

  <!-- Campo para seleccionar la imagen -->
  <ion-item>
    <ion-label position="stacked">Imagen</ion-label>
    <input type="file" (change)="onFileChange($event)" />
  </ion-item>

  <!-- Vista previa de la imagen seleccionada o el placeholder -->
  <ion-item>
    <ion-img [src]="imagenPreview"></ion-img>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Descripción</ion-label>
    <ion-textarea [(ngModel)]="producto.descripcion"></ion-textarea>
  </ion-item>

  <!-- Botón para guardar los cambios -->
  <ion-button expand="full" (click)="guardarCambios()">Guardar Cambios</ion-button>

  <!-- Botón para eliminar el producto, deshabilitado si el stock no es 0 -->
  <ion-button expand="full" color="danger" (click)="borrarProducto()" [disabled]="producto.stock > 0">
    Borrar Producto
  </ion-button>
</ion-content>

<ng-template #noProducto>
  <ion-text color="danger">
    <h2>No se encontraron detalles para este producto.</h2>
  </ion-text>
</ng-template>
