<ion-header>
  <ion-toolbar>
    <ion-title>Detalles del Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="producto$ | async as producto; else noProducto"> 
  <div class="details-container">
    <img 
      [src]="producto.imagen || 'assets/placeholder-image.png'" 
      alt="Imagen del Producto" 
      class="product-image"
    />
    <ion-card style="background-color: black;">
      <ion-card-header>
        <ion-card-title>{{ producto.nombre }}</ion-card-title>
        <ion-card-subtitle>
          Precio: ${{ producto.precio.toLocaleString('es-CL', { minimumFractionDigits: 0, maximumFractionDigits: 0 }) }}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p>Categoría: {{ producto.categoria }}</p>
        <p>Stock: {{ producto.stock }}</p>
        <p>{{ producto.descripcion }}</p>
      </ion-card-content>
    </ion-card>

    <ion-button 
      *ngIf="producto.stock > 0" 
      expand="full" 
      color="primary"
      (click)="addToCarrito(producto)"> <!-- Pasar el producto al método -->
      Añadir al Carrito
    </ion-button>

    <ion-button 
      *ngIf="producto.stock <= 0" 
      expand="full" 
      color="danger" 
      disabled>
      Sin Stock
    </ion-button>
  </div>
</ion-content>

<ng-template #noProducto>
  <ion-text color="danger">
    <h2>No se encontraron detalles para este producto.</h2>
  </ion-text>
</ng-template>
