<ion-header>
  <ion-toolbar>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="carrito.length > 0; else emptyCarrito">
  <ion-list>
    <ion-item *ngFor="let producto of carrito">
      <ion-avatar slot="start">
        <img [src]="producto.imagen" alt="{{ producto.nombre }}">
      </ion-avatar>
      <ion-label>
        <h2>{{ producto.nombre }}</h2>
        <p>Precio: ${{ producto.precio.toLocaleString('es-CL', { minimumFractionDigits: 0, maximumFractionDigits: 0 }) }}</p>
        <p>Cantidad: {{ producto.stock }}</p>
      </ion-label>
      <ion-button (click)="removeFromCarrito(producto.id)" color="danger" slot="end">
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label>
      <h2>Total: ${{ total.toLocaleString('es-CL', { minimumFractionDigits: 0, maximumFractionDigits: 0 }) }}</h2>
    </ion-label>
  </ion-item>

  <ion-button class="botones" routerLink="/pago" color="success">Pagar</ion-button>
  <ion-button class="botones" routerLink="/listar-productos" routerDirection="root">Ver más productos</ion-button>
</ion-content>

<ng-template #emptyCarrito>
  <ion-text color="medium">
    <div class="empty-carrito-container">
      <h2>El carrito está vacío</h2>
      <ion-button routerLink="/listar-productos" routerDirection="root">Ver más productos</ion-button>
    </div>
  </ion-text>
</ng-template>

