<ion-header>
  <ion-toolbar>
    <ion-title>Tienda Bicicletas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="products-grid-container">
    <div class="products-grid">
      <div class="product-card">
        ion-card
        <img src="assets/images/Bicicleta2.png" alt="Bicicleta 1">
        <h2>Bicicleta ARO 26 RAINFALL 6V</h2>
        <p class="old-price">$299.990</p>
        <p class="new-price">$119.990</p>
        <div class="discount-badge">60% Descuento</div>
      </div>
      <div class="product-card">
        <img  src="assets/images/bicicleta3.png" alt="Bicicleta 2">
        <h2>Bicicleta ARO 26 RAINFALL 6V</h2>
        <p class="old-price">$299.990</p>
        <p class="new-price">$119.990</p>
        <div class="discount-badge">60% Descuento</div>
      </div>
      <div class="product-card centered">
        <img src="assets/images/bicicleta4.jpg" alt="Bicicleta 3">
        <h2>Bicicleta ARO 26 RAINFALL 6V</h2>
        <p class="old-price">$299.990</p>
        <p class="new-price">$119.990</p>
        <div class="discount-badge">60% Descuento</div>
      </div>
    </div>
  </div>
</ion-content>